@font-face {
    font-family: 'Terasong';
    src: url(../font/Terasong.ttf) format('truetype');
}

@font-face {
    font-family: 'NokiaFont';
    src: url(../font/nokiaFont.ttf) format('truetype');
}

body{
    background-color: #181a1b;
    color: #e8e6e3;
    font-family: 'NokiaFont', sans-serif;
}

#gameContainer{
    color: #e8e6e3;
    text-align: center;
    display: flex;
    flex-direction: column;
    height: 850px;
    align-items: center;
    justify-content: center;
}

#gameBoard{
    border: 3px solid;
    border-color: #736b5e;
    background-color: #add8c1;
    /*box-shadow: 0 0 200px rgba(0,0,0,0.9) inset;*/
    /*width: 100%;*/
    /*height: 100%; Pour faire que le jeu se passe sur tout l'écran*/
}

#scoreText{
    font-family: 'NokiaFont', sans-serif;
    font-size: 60px;
}

button{
    color: #e8e6e3;
    background-color: #181a1b;
    text-align: center;
    font-family: 'NokiaFont', sans-serif;
    font-size: 20px;
    width: 100;
    height: 50;
    border: 4px solid;
    border-radius: 12px;
    cursor: pointer;
}